$primary-color: rgb(240, 240, 240);
$secondary-color: rgb(0, 124, 226);
$font-grey: rgb(99, 99, 99);

body {
    margin: 0;
    padding: 0;
    background: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 13px;

    p, span {
        color: $font-grey;
        font-weight: 300;
    }

    .nav {
        background: $primary-color;
        width: 100vw;
        height: 50px;
        display: flex;
        justify-content: space-between;
        position: fixed;
        align-items: center;

        span {
            font-size: 1.5rem;
            font-family: 'Lato', sans-serif;
            margin-left: 20px;
        }

        button {
            border: none;
            border-radius: 3px;
            height: 30px;
            font-size: 1rem;
            font-family: 'Lato', sans-serif;
            color: white;
            background-color: $secondary-color;
            margin-right: 20px;
        }
    }

    input[type=checkbox] {
        display: none;
      }
      
      label {
        margin-top: 50px;
        cursor: pointer;
      }
      
      .toggleIcon {
        position: fixed;
        transform: translateY(-40px);
        width: 30px;
        height: 30px;
      }

    .navToggle {
        position: fixed;
        margin-top: 50px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        background: $secondary-color;
        width: 100vw;
        height: 0;
        overflow: hidden;
        flex-direction: column;
        justify-content: center;
        transition: all 0.5s ease;
        overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
        

        a {
            margin: 20px;
            font-size: 2rem;
            color: white;
            text-transform: uppercase;
            text-decoration: none;
        }
        
    }

    input[type=checkbox]:checked ~ .navToggle {
        height: calc(100vh - 50px);
    }

    input[type=checkbox]:checked ~ label .toggleIcon {
        color: red;
    }
    
    .signUpBlock {
        width: 100vw;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('media/bg-masthead.jpg');
        background-position: center;
        background-size: cover;

        form {
            display: flex;
            flex-direction: column;
            width: 300px;

            @media only screen and (min-width: 700px) {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
            }
            
            
            input {
                border: none;
                border-radius: 3px;
                height: 30px;
                font-size: 1rem;
                margin-top: 10px;
                font-family: 'Lato', sans-serif;
                padding: 5px;

                @media only screen and (min-width: 700px) {
                    margin-top: 0px;
                    margin: 10px;
                    min-width: 400px;
                }
            }

            .submit {
                color: white;
                height: 40px;
                font-size: 1rem;
                margin-top: 10px;
                background-color: $secondary-color;

                @media only screen and (min-width: 700px) {
                    margin-top: 0;
                    margin: 10px;
                    min-width: 100px;
                }
            }
        }
    
        h1 {
            max-width: 80%;
            text-align: center;
            color: white;
            font-size: 1.5rem;
        }
    }

    .signUpBlock:last-of-type {
        height: 250px;
    }

    .qualities {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        @media only screen and (min-width: 700px) {
            flex-direction: row;
        }

        .quality {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin-top: 30px;

            @media only screen and (min-width: 700px) {
                font-size: 1rem;
                margin-top: 50px;
                margin-bottom: 50px;
                min-height: 230px;
            }

            .qualityIcon {
                width: 50px;
                height: 50px;
                color: $secondary-color;

                @media only screen and (min-width: 700px) {
                    width: 70px;
                    height: 70px;
                }
            }

            h3 {
                font-size: 1.3rem;
                margin-bottom: 10px;
            }

            p {
                font-size: 1rem;
                margin-top: 0;
                max-width: 70%;
            }
        }
    }

    .qualityDescriptions {

        .qualityDescription {
    
            display: flex;
            flex-direction: column;
            background-color: white;
            align-items: center;
            width: 100vw;

            @media only screen and (min-width: 700px) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-basis: auto;
            }

            .qualityDescImg {
                width: 100%;
                height: 300px;
                background-size: cover;
                background-position: center;

                @media only screen and (min-width: 700px) {
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-basis: 0;
                    height: 350px;
                }
            }
    
            #bg-showcase-1 {
                background-image: url('media/bg-showcase-1.jpg');
                
            }
    
            #bg-showcase-2 {
                background-image: url('media/bg-showcase-2.jpg');
            }
    
            #bg-showcase-3 {
                background-image: url('media/bg-showcase-3.jpg');
            }

            .qualityDescText {
                font-size: 1.1rem;

                @media only screen and (min-width: 700px) {
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-basis: 0;
                    font-size: 1rem;
                }


                p, h2 {
                    margin: 20px;
                }

            }

            

        }

        @media only screen and (min-width: 700px) {
            .qualityDescription:nth-of-type(odd) {
                flex-direction: row-reverse;
            }
            
        }
    }

    

    .whatArePeopleSaying {
        margin-top: 40px;
    }
    .peopleSaying {

        @media only screen and (min-width: 700px) {
            display: flex;
            justify-content: center;
            flex-basis: 0;
            margin-top: 10px;
            margin-bottom: 30px;
        }

        .personSaying {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 50px;
            // Nezinau ar reikia rasyti cia ar i media querry 
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0;

            .personImg {
                width: 150px;
                height: 150px;
                background: grey;
                border-radius: 50%;
                background-size: cover;
                box-shadow: 2px 2px 4px rgba(61, 61, 61, 0.452);
            }

            #margaret {
                background-image: url('media/testimonials-1.jpg')
            }

            #fred {
                background-image: url('media/testimonials-2.jpg')
            }

            #sarah {
                background-image: url('media/testimonials-3.jpg')
            }

            .review {
                @media only screen and (min-width: 700px) {
                    font-size: 0.8rem;
                }
            }

            h4 {
                margin: 0;
                margin-top: 20px;
                margin-bottom: 5px;
                font-size: 1.2rem;
            }

            p {
                font-size: 1rem;
                max-width: 80%;
                margin-top: 0;
            }
        }
    }
}

div {
    // border: 1px solid green;
}