body {
    margin: 0;
    padding: 0;
    background: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 13px;

    p {
        color: rgb(99, 99, 99);
        font-weight: 300;
    }

    .nav {
        background: rgb(245, 245, 245);
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: space-between;
        position: fixed;
    }
    
    .signUpFirst {
        margin-top: 30px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('media/bg-masthead.jpg');
        background-position: center;
        background-size: cover;
    
        h1 {
            max-width: 80%;
            text-align: center;
            color: white;
            font-size: 1.5rem;
        }
    }

    .qualities {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;

        .quality {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin-top: 30px;

            .qualityIcon {
                width: 50px;
                height: 50px;
                color: rgb(0, 124, 226);
            }

            h3 {
                margin-bottom: 10px;
            }

            p {
                margin-top: 0;
            }
        }
    }

    .qualityDescriptions {

        .qualityDescription {
    
            display: flex;
            flex-direction: column;
            background-color: white;

            .qualityDescImg {
                width: 100%;
                height: 300px;
                background-size: cover;
            }
    
            #bg-showcase-1 {
                background-image: url('media/bg-showcase-1.jpg');
                
            }
    
            #bg-showcase-2 {
                background-image: url('media/bg-showcase-2.jpg');
            }
    
            #bg-showcase-3 {
                background-image: url('media/bg-showcase-3.jpg');
            }

            .qualityDescText {
                padding: 20px;
                font-size: 1.1rem;
            }

        }
    }

    .peopleSaying {
        padding: 20px;

        .personSaying {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 30px;

            .personImg {
                width: 200px;
                height: 200px;
                background: grey;
                border-radius: 50%;
                background-size: cover;
                box-shadow: 2px 2px 4px rgba(61, 61, 61, 0.452);
            }

            #margaret {
                background-image: url('media/testimonials-1.jpg')
            }

            #fred {
                background-image: url('media/testimonials-2.jpg')
            }

            #sarah {
                background-image: url('media/testimonials-3.jpg')
            }

            h4 {
                margin: 0;
                margin-top: 20px;
                margin-bottom: 5px;
                font-size: 1.2rem;
            }

            p {
                font-size: 1rem;
                max-width: 80%;
                margin-top: 0;
            }
        }
    }

    .signUpSecond {
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('media/bg-masthead.jpg');
        background-position: center;
        background-size: cover;
    
        h1 {
            max-width: 80%;
            text-align: center;
            color: white;
            font-size: 1.5rem;
        }
    }
}

div {
    // border: 1px solid green;
}

