body {
  margin: 0;
  padding: 0;
  background: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-size: 13px; }
  body p {
    color: #636363;
    font-weight: 300; }
  body .nav {
    background: whitesmoke;
    width: 100%;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: fixed; }
  body .signUpFirst {
    margin-top: 30px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url("media/bg-masthead.jpg");
    background-position: center;
    background-size: cover; }
    body .signUpFirst h1 {
      max-width: 80%;
      text-align: center;
      color: white;
      font-size: 1.5rem; }
  body .qualities {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding: 20px; }
    body .qualities .quality {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin-top: 30px; }
      body .qualities .quality .qualityIcon {
        width: 50px;
        height: 50px;
        color: #007ce2; }
      body .qualities .quality h3 {
        margin-bottom: 10px; }
      body .qualities .quality p {
        margin-top: 0; }
  body .qualityDescriptions .qualityDescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white; }
    body .qualityDescriptions .qualityDescription .qualityDescImg {
      width: 100%;
      height: 300px;
      background-size: cover;
      background-position: center; }
    body .qualityDescriptions .qualityDescription #bg-showcase-1 {
      background-image: url("media/bg-showcase-1.jpg"); }
    body .qualityDescriptions .qualityDescription #bg-showcase-2 {
      background-image: url("media/bg-showcase-2.jpg"); }
    body .qualityDescriptions .qualityDescription #bg-showcase-3 {
      background-image: url("media/bg-showcase-3.jpg"); }
    body .qualityDescriptions .qualityDescription .qualityDescText {
      padding: 20px;
      font-size: 1.1rem; }
  body .peopleSaying {
    padding: 20px; }
    body .peopleSaying .personSaying {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      padding: 30px; }
      body .peopleSaying .personSaying .personImg {
        width: 200px;
        height: 200px;
        background: grey;
        border-radius: 50%;
        background-size: cover;
        -webkit-box-shadow: 2px 2px 4px rgba(61, 61, 61, 0.452);
        box-shadow: 2px 2px 4px rgba(61, 61, 61, 0.452); }
      body .peopleSaying .personSaying #margaret {
        background-image: url("media/testimonials-1.jpg"); }
      body .peopleSaying .personSaying #fred {
        background-image: url("media/testimonials-2.jpg"); }
      body .peopleSaying .personSaying #sarah {
        background-image: url("media/testimonials-3.jpg"); }
      body .peopleSaying .personSaying h4 {
        margin: 0;
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 1.2rem; }
      body .peopleSaying .personSaying p {
        font-size: 1rem;
        max-width: 80%;
        margin-top: 0; }
  body .signUpSecond {
    width: 100%;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url("media/bg-masthead.jpg");
    background-position: center;
    background-size: cover; }
    body .signUpSecond h1 {
      max-width: 80%;
      text-align: center;
      color: white;
      font-size: 1.5rem; }
